body {
  background-color: rgba(0,0,0,.04);
  padding-top: 70px;

  .navbar {
    background-color: #ffffff;
  }

  .label-spaced {
    margin-right:5px;
    margin-bottom:5px !important;
    display:inline-block;
  }
}

// margin was 20px 0px
.pagination {
    margin: 0px 0px;
}

.eb-btn-group {
  margin-left: 10px;
}

.eb-inline {
  display: inline;
  margin-right:20px;
}

.eb-option-buttons {
  margin-bottom: 5px;
}

.eb-list-group-item {
  padding: 0;
}

.eb-list-group-item-left-checkbox {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}

.eb-list-group-item-main-a {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 5px 7px;
  text-decoration: none !important; // no hyperlink underline
  color: inherit; // don't use the hyperlink blue color
  margin-left: 30px; // leave room for check box on the left
}

.eb-list-group-item-main-a-image {
  position: relative;
  float: left;
  margin-left: -10px;
  margin-top: 0px;
  width: 64px;
  height: 64px;
}

.eb-list-group-item-main-a-quantity {
  position: relative;
  float: left;
  font-weight: bold;
  font-size: 200%;
  margin-left: 5px;
  width: 50px;
  height: 100%;
  text-align: center;
}

.eb-list-group-item-main-a-title-and-description {
  position: relative;
  float: left;
  margin-left: 5px;
  margin-top: 0px;
}

.eb-list-group-item-main-a-title {
  font-weight: bold;
  font-size: 150%;
  color: #0066c0;
}

.eb-item-title {
  font-weight: bold;
  color: #0066c0;
}

.eb-bold-success{
  font-weight: bold;
  color: #5cb85c;
}

.eb-bold-danger{
  font-weight: bold;
  color: #d9534f;
}

.eb-invisible{
  color: transparent;
}

.eb-bold-warning{
  font-weight: bold;
  color: #f0ad4e;
}

.form-horizontal .form-group.eb-compact-horizontal-form-group{
  margin-left: 0px;
  margin-right: 0px;
}

.eb-price {
  font-weight: bold;
  color: #b12704;
}

.eb-list-group-item-main-a-price-total {
  position: absolute;
  top: 15px;
  right: 15px;
}

.eb-post-list-label {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  width: 70px;
}

.eb-price-subtotal {
  position: relative;
  float: right;
  font-size: 110%;
  margin-right: 16px;
  margin-top: 0px;
}

.eb-area-hierarchy {
  max-height: 354px;
}

.eb-job-details {
  max-height: 385px;
}

.eb-heading-option {
  margin-left: 30px;
  font-weight: normal;
  font-size: 90%;
}

.eb-pending-action-icon {
  margin-right: 30px;
}

.eb-role-info {
  margin-top: 7px;
}

.eb-role-icon {
  margin-right: 30px;
}

.eb-product-type-wizard-step-content {
  height: 500px;
  max-height: 500px;
  margin-bottom: 8px;
}

.eb-bottom-margin {
  margin-bottom: 10px;
}

// https://github.com/wix/angular-tree-control/issues/46 and http://stackoverflow.com/questions/14736496/use-font-awesome-icons-in-css
treecontrol.tree-boot li.tree-expanded i.tree-branch-head.a3 {
  background: none;
  padding-left: 4px;
  padding-right: 5px;
  position: relative;
}

treecontrol.tree-boot li.tree-expanded i.a3:before {
  font-family: FontAwesome;
  color: #000;
  content: "\f068"; // fa-minus
}

treecontrol.tree-boot li.tree-collapsed i.tree-branch-head.a4 {
  background: none;
  padding-left: 4px;
  padding-right: 5px;
  position: relative;
}

treecontrol.tree-boot li.tree-collapsed i.a4:before {
  font-family: FontAwesome;
  color: #000;
  content: "\f067"; // fa-plus
}

/*#region Mark P added here for formly validation messages http://angular-formly.com/#/example/advanced/validation-on-form-submit */
// body {
//   margin: 20px
// }

.formly-field {
  margin-bottom: 13px;
}

.error-messages {
  position: relative;
}

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  font-size: .8em;
  position: absolute;
  width: 100%;
  color: #a94442;
  margin-top: 2px;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}
/*#endregion */

/*#region Mark P added here to be able to add a margin above a div */
.eb-top-buffer {
  margin-top:10px;
}
/*#endregion */

/*#region Mark P added here so the login pop-up does not go off the page */
.eb-login-buttons {
  margin-right: 70px;
}
/*#endregion */

@import "../account/styles/billing.import.less";
