body {
  background-color: rgba(0,0,0,.04);
  padding-top: 70px;

  .navbar {
    background-color: #ffffff;
  }

  .label-spaced {
    margin-right:5px;
    margin-bottom:5px !important;
    display:inline-block;
  }
}

.eb-option-buttons {
  margin-bottom: 5px;
}

@import "../account/styles/billing.import.less";
@import "../parties/styles/parties.import.less";
