<div class="container">
  <div class="row">
    <div ng-controller="companies as vm">
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" ng-hide="$root.currentUser || $root.loggingIn">
            Log in to view companies!
          </div>
          <form ng-show="$root.currentUser">
            <h2>Create a new company:</h2>

            <div class="form-group">
              <label for="nameInput">Name</label>
              <input ng-model="vm.newCompany.name" id="nameInput" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="public">
                <input type="checkbox" ng-model="vm.newCompany.public" id="public"> Public
              </label>
            </div>
            <button
                ng-click="vm.newCompany.createdBy=$root.currentUser._id;vm.companies.push(vm.newCompany); vm.newCompany='';"
                class="btn">Add
            </button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <h1>Companies:</h1>

          <form class="form-inline search-form">
            <div class="form-group">
              <label class="sr-only" for="search">Search</label>

              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                <input type="text" ng-model="vm.search" placeholder="Search" id="search" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="sort-order">Sort Order</label>
              <select ng-model="vm.orderProperty" class="form-control">
                <option value="1">Ascending</option>
                <option value="-1">Descending</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <ul class="list-group">
        <li dir-paginate="company in vm.companies | itemsPerPage: vm.perPage" total-items="vm.companiesCount.count"
            class="list-group-item">
          <div class="row">
            <div class="col-sm-8">
              <h2><a href="/companies/{{company._id}}">{{company.name}}</a></h2>
            </div>
            <div class="col-sm-4">
              <a ng-click="remove(company)" class="close"
                 ng-show="vm.canRemoveCompany(company)">&times;</a>
            </div>
          </div>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </div>
</div>