<div class="container">
  <div class="row">
    <div ng-controller="company as vm">
      <legend>
        Company Details
      </legend>
      <form class="form">
        <div class="form-group">
          <label>Company Name</label>
          <input ng-model="vm.company.name" type="text"
                 class="form-control">
        </div>
        <div class="form-group">
          <label>Company Website</label>
          <input ng-model="vm.company.websiteUrl" type="text"
                 class="form-control">
        </div>
      </form>
      <formly-form model="vm.company" fields="vm.companyFields">
      </formly-form>
    </div>
  </div>
</div>
