<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <h3 class="page-header">Start Slaying Tasks</h3>

      <p>Signup for a <strong>FREE 1 day trial</strong> of Todoodle today and start dropkicking your todo list into
        the
        stratosphere. To get started, hit us up with an Email Address, Password, and your credit card details. Your
        card
        <strong>will not be charged</strong> until your trial ends!</p>

      <form id="application-signup" class="signup" ng-controller="signup as vm">
        <h4 class="page-header">Account details</h4>

        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" name="fullName" class="form-control" placeholder="Full Name" ng-model="vm.client.fullName">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address" ng-model="vm.client.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="vm.client.password">
        </div>
        <h4 class="page-header">Payment Information</h4>
        <label>Which plan sounds <em>amazing</em>?</label>
        <ng-include src="'client/account/views/select-plan.ng.html'"></ng-include>
        <ng-include src="'client/account/views/credit-card.ng.html'"></ng-include>
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-block" data-loading-text="Setting up your trial..."
                 ng-click="vm.submit()" ng-disabled="vm.creatingTrialClient"
                 style="margin-top: 40px; margin-bottom: 20px;" value="Start my trial">
        </div>
      </form>
    </div>
  </div>
</div>