<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <h3 class="page-header">Start Bidding</h3>

      <p>Signup for a <strong>FREE ??? day trial</strong> of Easy Bid today and get an edge on the competition.
        To get started just complete this form. Your credit card <strong>will not be charged</strong> until your trial ends!</p>

      <form id="application-signup" class="signup" ng-controller="signup as vm">
        <h4 class="page-header">Account details</h4>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="vm.client.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="vm.client.lastName">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address" ng-model="vm.client.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" ng-model="vm.client.password">
        </div>
        <h4 class="page-header">Payment Information</h4>
        <label>Pick a plan <em>(can always change later)</em></label>
        <ng-include src="'client/account/views/select-plan.html'"></ng-include>
        <ng-include src="'client/account/views/credit-card.html'"></ng-include>
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-block" data-loading-text="Setting up your trial..."
                 ng-click="vm.submit()" ng-disabled="vm.creatingTrialClient"
                 style="margin-top: 40px; margin-bottom: 20px;" value="Start my trial">
        </div>
      </form>
    </div>
  </div>
</div>
